---
import Expo from "@/layouts/Expo.astro";
---

<Expo>
  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/men/86.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <h2 class="text-sm font-medium">Alexander</h2>
          <span class="text-foreground/70">Last seen 2 hours ago</span>
        </div>
      </div>
      <button
        aria-label="Menu"
        class="flex flex-none items-center justify-center w-8 h-8 transition-all duration-300 rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5 focus:ring-offset-background focus:ring-offset-2"
      >
        <svg
          data-icon="menu-carbon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="3.75"
            d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
          >
          </path>
        </svg>
      </button>
    </header>
    <section class="w-full flex flex-col gap-2">
      <h2 class="text-base font-semibold">Multiple web Design templates Selection</h2>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor ...</p>
      <div class="inline-flex items-center justify-start gap-2">
        <img
          src="https://cdn.worldvectorlogo.com/logos/facebook-reaction-love.svg"
          alt="like"
          class="w-4 h-4"
        />
        <span class="text-sm font-semibold mt-[1px]">24</span>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/men/95.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <h2 class="text-sm font-medium">Matthew</h2>
          <span class="text-foreground/70">23 minutes ago</span>
        </div>
      </div>
      <button
        aria-label="Menu"
        class="flex flex-none items-center justify-center w-8 h-8 transition-all duration-300 rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5 focus:ring-offset-background focus:ring-offset-2"
      >
        <svg
          data-icon="menu-carbon"
          class="rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="3.75"
            d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
          >
          </path>
        </svg>
      </button>
    </header>
    <section class="w-full flex flex-col gap-2">
      <h2 class="text-base font-semibold">Multiple web Design templates Selection</h2>
      <figure>
        <picture>
          <source
            srcset="https://images.unsplash.com/photo-1582967788606-a171c1080cb0?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="https://images.unsplash.com/photo-1582967788606-a171c1080cb0?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <img
            src="https://images.unsplash.com/photo-1582967788606-a171c1080cb0?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
            alt="Imagen de unsplash de Francesco Ungaro"
            data-author="https://unsplash.com/es/@francesco_ungaro"
            data-author-name="Francesco Ungaro"
            title="Imagen de unsplash de Francesco Ungaro"
            class="w-full min-w-0 max-w-full object-cover aspect-[6/7] rounded-xl"
            loading="lazy"
            decoding="async"
            itemprop="image"
          />
        </picture>
        <figcaption class="mt-2 text-foreground/50">
          Imagen de unsplash de Francesco Ungaro
        </figcaption>
      </figure>
      <div class="inline-flex items-center justify-start gap-2">
        <img
          src="https://cdn.worldvectorlogo.com/logos/facebook-reaction-love.svg"
          alt="like"
          class="w-4 h-4"
        />
        <span class="text-sm font-semibold mt-[1px]">24</span>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/women/43.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="flex items-center gap-2">
            <h2 class="text-sm font-medium">Ana Bernal</h2>
            <span class="text-foreground/70">Designer</span>
          </div>
          <span class="text-foreground/70">23 minutes ago</span>
        </div>
      </div>
      <button
        aria-label="Menu"
        class="flex flex-none items-center justify-center w-8 h-8 transition-all duration-300 rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5 focus:ring-offset-background focus:ring-offset-2"
      >
        <svg
          data-icon="menu-carbon"
          class="rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="3.75"
            d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
          >
          </path>
        </svg>
      </button>
    </header>
    <section class="w-full flex flex-col gap-3">
      <div class="w-full grid grid-cols-2 gap-1 overflow-hidden rounded-xl">
        <div class="grid gap-1">
          <img
            src="https://images.unsplash.com/photo-1689934902166-92a36302a7c6?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
            alt="Imagen de unsplash de Francesco Ungaro"
            data-author="https://unsplash.com/es/@francesco_ungaro"
            data-author-name="Francesco Ungaro"
            title="Imagen de unsplash de Francesco Ungaro"
            class="w-full h-full min-w-0 max-w-full object-cover"
            loading="lazy"
            decoding="async"
            itemprop="image"
          />
          <img
            src="https://images.unsplash.com/photo-1662622225750-9505df2ccdfe?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
            alt="Imagen de unsplash de Francesco Ungaro"
            data-author="https://unsplash.com/es/@francesco_ungaro"
            data-author-name="Francesco Ungaro"
            title="Imagen de unsplash de Francesco Ungaro"
            class="w-full h-full min-w-0 max-w-full object-cover"
            loading="lazy"
            decoding="async"
            itemprop="image"
          />
        </div>
        <img
          src="https://images.unsplash.com/photo-1647020756316-49bcc3d04e17?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de Francesco Ungaro"
          data-author="https://unsplash.com/es/@francesco_ungaro"
          data-author-name="Francesco Ungaro"
          title="Imagen de unsplash de Francesco Ungaro"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
      </div>
      <div class="w-full flex flex-col gap-1">
        <h2 class="text-base font-semibold">Multiple web Design templates Selection</h2>
        <p>Lorem ipsum dolor sit amet, conse ctetur adipi didunt ut labore et dolore.</p>
      </div>
      <div class="w-full flex items-center justify-between gap-2">
        <div class="inline-flex items-center justify-start gap-2">
          <img
            src="https://cdn.worldvectorlogo.com/logos/facebook-reaction-love.svg"
            alt="like"
            class="w-4 h-4"
          />
          <span class="text-sm font-semibold mt-[1px]">24</span>
        </div>
        <span class="text-foreground/70">2 comments</span>
      </div>
      <div class="relative">
        <input
          type="text"
          placeholder="Write a comment..."
          class="w-full pl-3 pr-10 h-10 text-sm border border-border rounded placeholder:font-normal font-medium transition-all duration-200 focus-ring opacity-100 ring-2 focus:outline-0 ring-background focus:ring-offset-background focus:ring-foreground focus:ring-offset-2 focus:border-transparent"
        />
        <button
          class="absolute top-1/2 -translate-y-1/2 right-2 w-8 h-8 inline-flex items-center justify-center transition-colors rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
        >
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
              fill="currentColor"
              d="M6.25 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-.114 1.917a.5.5 0 1 0-.745.667A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 2.609-1.166a.5.5 0 0 0-.745-.667A2.5 2.5 0 0 1 8 10.5c-.74 0-1.405-.321-1.864-.833M10.5 7A.75.75 0 1 1 9 7a.75.75 0 0 1 1.5 0M14 8A6 6 0 1 0 2 8a6 6 0 0 0 12 0M3 8a5 5 0 1 1 10 0A5 5 0 0 1 3 8"
            >
            </path>
          </svg>
        </button>
      </div>
      <div class="w-full pt-4 flex pb-4 group">
        <a class="mr-3" href="#">
          <img
            class="rounded-full max-w-none w-10 h-10"
            src="https://randomuser.me/api/portraits/men/51.jpg"
            alt="Avatar"
            loading="lazy"
          />
        </a>
        <div class="flex-1 flex flex-col items-start gap-1 relative pr-8">
          <button
            class="hidden absolute right-0 top-0 group-hover:inline-flex flex-none items-center justify-center w-7 h-7 transition-all duration-300 rounded-full focus:ring-2 hover:bg-foreground/5"
          >
            <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
                fill="currentColor"
              >
              </path>
            </svg>
          </button>
          <div>
            <a class="inline-block font-bold mr-2" href="#">Shawn</a>
            <span class="text-foreground/60">2 days ago</span>
          </div>
          <p>Lorem ipsum dolor sit amet elit sed do eiusmod.</p>
          <div class="flex items-center justify-start gap-1 mt-1">
            <button
              class="inline-flex items-center justify-center h-7 rounded-full px-2 gap-2 bg-foreground/5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="16"
                viewBox="0 0 18 16"
                fill="currentColor"
                class="text-rose-600"
              >
                <path
                  d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
                  class="stroke-rose-600"
                  stroke="currentColor"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
                <path
                  d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
                  class="stroke-white"
                  stroke="currentColor"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
              </svg>
              <span class="font-bold">1</span>
            </button>
            <button
              class="h-7 px-4 font-medium text-xs inline-flex items-center justify-center rounded-full transition-all duration-300 focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
            >
              Repply
            </button>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4 px-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/women/33.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="flex items-center gap-2">
            <h2 class="text-sm font-medium">Cameron Williamson</h2>
            <svg class="fill-blue-600 w-4 h-4" viewBox="0 0 24 24">
              <path
                d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z"
              >
              </path>
            </svg>
          </div>
          <span class="text-foreground/70">Author of the post</span>
        </div>
      </div>
    </header>
    <section class="w-full flex flex-col gap-3">
      <div class="w-full p-6 bg-violet-700 text-white">
        <h2 class="text-2xl font-semibold">Multiple web Design templates Selection</h2>
      </div>
      <div class="w-full flex items-center justify-between gap-2 px-4">
        <div class="inline-flex items-center justify-start gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="16"
            viewBox="0 0 18 16"
            fill="none"
          >
            <path
              d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
              stroke="#130F26"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
              stroke="#130F26"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
          <span class="text-sm font-semibold mt-[1px]">0</span>
        </div>
        <span class="text-foreground/70">2 comments</span>
      </div>
      <div class="px-4">
        <div class="relative">
          <input
            type="text"
            placeholder="Write a comment..."
            class="w-full pl-3 pr-10 h-10 text-sm border border-border rounded placeholder:font-normal font-medium transition-all duration-200 focus-ring opacity-100 ring-2 focus:outline-0 ring-background focus:ring-offset-background focus:ring-foreground focus:ring-offset-2 focus:border-transparent"
          />
          <button
            class="absolute top-1/2 -translate-y-1/2 right-2 w-8 h-8 inline-flex items-center justify-center transition-colors rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
          >
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                fill="currentColor"
                d="M6.25 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-.114 1.917a.5.5 0 1 0-.745.667A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 2.609-1.166a.5.5 0 0 0-.745-.667A2.5 2.5 0 0 1 8 10.5c-.74 0-1.405-.321-1.864-.833M10.5 7A.75.75 0 1 1 9 7a.75.75 0 0 1 1.5 0M14 8A6 6 0 1 0 2 8a6 6 0 0 0 12 0M3 8a5 5 0 1 1 10 0A5 5 0 0 1 3 8"
              >
              </path>
            </svg>
          </button>
        </div>
      </div>
      <div class="px-4">
        <div class="w-full pt-4 flex group">
          <a class="mr-3" href="#">
            <img
              class="rounded-full max-w-none w-10 h-10"
              src="https://randomuser.me/api/portraits/men/31.jpg"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <div class="flex-1 flex flex-col items-start gap-1 relative pr-8">
            <button
              class="hidden absolute right-0 top-0 group-hover:inline-flex flex-none items-center justify-center w-7 h-7 transition-all duration-300 rounded-full focus:ring-2 hover:bg-foreground/5"
            >
              <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
                  fill="currentColor"
                >
                </path>
              </svg>
            </button>
            <div>
              <a class="inline-block font-bold mr-2" href="#">Carlos</a>
              <span class="text-foreground/60">12 min ago</span>
            </div>
            <p>Lorem ipsum dolor sit amet elit sed do eiusmod.</p>
            <div class="flex items-center justify-start gap-1 mt-1">
              <button
                class="inline-flex items-center justify-center h-7 rounded-full px-2 gap-2 bg-foreground/5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="16"
                  viewBox="0 0 18 16"
                  fill="currentColor"
                  class="text-rose-600"
                >
                  <path
                    d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
                    class="stroke-rose-600"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
                    class="stroke-white"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
                <span class="font-bold">5</span>
              </button>
              <button
                class="h-7 px-4 font-medium text-xs inline-flex items-center justify-center rounded-full transition-all duration-300 focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
              >
                Repply
              </button>
            </div>
          </div>
        </div>
        <div class="w-full pt-4 flex group">
          <a class="mr-3" href="#">
            <img
              class="rounded-full max-w-none w-10 h-10"
              src="https://randomuser.me/api/portraits/women/21.jpg"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <div class="flex-1 flex flex-col items-start gap-1 relative pr-8">
            <button
              class="hidden absolute right-0 top-0 group-hover:inline-flex flex-none items-center justify-center w-7 h-7 transition-all duration-300 rounded-full focus:ring-2 hover:bg-foreground/5"
            >
              <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
                  fill="currentColor"
                >
                </path>
              </svg>
            </button>
            <div>
              <a class="inline-block font-bold mr-2" href="#">Marianna Rojas</a>
              <span class="text-foreground/60">2 min ago</span>
            </div>
            <p>Lorem ipsum dolor 😉😉</p>
            <div class="flex items-center justify-start gap-1 mt-1">
              <button
                class="inline-flex items-center justify-center h-7 rounded-full px-2 gap-2 bg-foreground/5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="16"
                  viewBox="0 0 18 16"
                  fill="currentColor"
                  class="text-rose-600"
                >
                  <path
                    d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
                    class="stroke-rose-600"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
                    class="stroke-white"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
                <span class="font-bold">1</span>
              </button>
              <button
                class="h-7 px-4 font-medium text-xs inline-flex items-center justify-center rounded-full transition-all duration-300 focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
              >
                Repply
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4 px-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/women/40.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="flex items-center gap-2">
            <h2 class="text-sm font-medium">Amelia</h2>
            <svg class="fill-blue-600 w-4 h-4" viewBox="0 0 24 24">
              <path
                d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z"
              >
              </path>
            </svg>
          </div>
          <span class="text-foreground/70">Artist</span>
        </div>
      </div>
      <button
        class="inline-flex items-center justify-center px-4 h-7 font-medium rounded-full bg-blue-600 text-white hover:bg-blue-700 transition-all duration-300 focus:bg-blue-700"
      >
        Follow
      </button>
    </header>
    <section class="w-full flex flex-col gap-3">
      <p class="px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit 🙏🙏🙏</p>
      <div class="w-full p-6 bg-gradient-to-l from-blue-800 to-green-500 text-white">
        <h2 class="text-2xl font-semibold">
          Multiple web Design templates Selection and Customization
        </h2>
      </div>
      <div class="w-full flex items-center justify-between gap-2 px-4">
        <div class="inline-flex items-center justify-start gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="16"
            viewBox="0 0 18 16"
            fill="none"
          >
            <path
              d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
              stroke="#130F26"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
              stroke="#130F26"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
          <span class="text-sm font-semibold mt-[1px]">0</span>
        </div>
        <span class="text-foreground/70">2 comments</span>
      </div>
      <div class="px-4">
        <div
          class="flex items-center justify-between relative w-full px-1 h-10 text-sm border border-border rounded-full placeholder:font-normal font-medium transition-all duration-200 opacity-100 ring-2 focus-within:outline-0 ring-background focus-within:ring-offset-background focus-within:ring-foreground focus-within:ring-offset-2 focus-within:border-transparent"
        >
          <button
            class="w-8 h-8 rounded-full inline-flex items-center justify-center bg-foreground text-background"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="12" cy="13" r="3"></circle><path
                  d="M9.778 21h4.444c3.121 0 4.682 0 5.803-.735a4.4 4.4 0 0 0 1.226-1.204c.749-1.1.749-2.633.749-5.697s0-4.597-.749-5.697a4.4 4.4 0 0 0-1.226-1.204c-.72-.473-1.622-.642-3.003-.702c-.659 0-1.226-.49-1.355-1.125A2.064 2.064 0 0 0 13.634 3h-3.268c-.988 0-1.839.685-2.033 1.636c-.129.635-.696 1.125-1.355 1.125c-1.38.06-2.282.23-3.003.702A4.4 4.4 0 0 0 2.75 7.667C2 8.767 2 10.299 2 13.364s0 4.596.749 5.697c.324.476.74.885 1.226 1.204C5.096 21 6.657 21 9.778 21Z"
                >
                </path>
                <path stroke-linecap="round" d="M19 10h-1"></path>
              </g>
            </svg>
          </button>
          <input
            type="text"
            placeholder="Write a comment..."
            class="flex-1 appearance-none h-full pl-2 outline-0 border-0 ring-0 focus:ring-0 placeholder:text-foreground/60 placeholder:font-normal font-medium"
          />
          <button
            class="w-8 h-8 inline-flex items-center justify-center transition-colors rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
          >
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                fill="currentColor"
                d="M6.25 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-.114 1.917a.5.5 0 1 0-.745.667A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 2.609-1.166a.5.5 0 0 0-.745-.667A2.5 2.5 0 0 1 8 10.5c-.74 0-1.405-.321-1.864-.833M10.5 7A.75.75 0 1 1 9 7a.75.75 0 0 1 1.5 0M14 8A6 6 0 1 0 2 8a6 6 0 0 0 12 0M3 8a5 5 0 1 1 10 0A5 5 0 0 1 3 8"
              >
              </path>
            </svg>
          </button>
        </div>
      </div>
      <div class="px-4">
        <div class="w-full pt-4 flex group">
          <a class="mr-3" href="#">
            <img
              class="rounded-full max-w-none w-10 h-10"
              src="https://randomuser.me/api/portraits/men/39.jpg"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <div class="flex-1 flex flex-col items-start gap-1 relative pr-8">
            <button
              class="hidden absolute right-0 top-0 group-hover:inline-flex flex-none items-center justify-center w-7 h-7 transition-all duration-300 rounded-full focus:ring-2 hover:bg-foreground/5"
            >
              <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
                  fill="currentColor"
                >
                </path>
              </svg>
            </button>
            <div>
              <a class="inline-block font-bold mr-2" href="#">Marcos Antonio</a>
              <span class="text-foreground/60">12 min ago</span>
            </div>
            <p>Lorem ipsum dolor sit amet elit sed do eiusmod.</p>
            <div class="flex items-center justify-start gap-1 mt-1">
              <button
                class="inline-flex items-center justify-center h-7 rounded-full px-2 gap-2 bg-foreground/5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="16"
                  viewBox="0 0 18 16"
                  fill="currentColor"
                  class="text-rose-600"
                >
                  <path
                    d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
                    class="stroke-rose-600"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
                    class="stroke-white"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
                <span class="font-bold">5</span>
              </button>
              <button
                class="h-7 px-4 font-medium text-xs inline-flex items-center justify-center rounded-full transition-all duration-300 focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
              >
                Repply
              </button>
            </div>
          </div>
        </div>
        <div class="w-full pt-4 flex group">
          <a class="mr-3" href="#">
            <img
              class="rounded-full max-w-none w-10 h-10"
              src="https://randomuser.me/api/portraits/women/76.jpg"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <div class="flex-1 flex flex-col items-start gap-1 relative pr-8">
            <button
              class="hidden absolute right-0 top-0 group-hover:inline-flex flex-none items-center justify-center w-7 h-7 transition-all duration-300 rounded-full focus:ring-2 hover:bg-foreground/5"
            >
              <svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
                  fill="currentColor"
                >
                </path>
              </svg>
            </button>
            <div>
              <a class="inline-block font-bold mr-2" href="#">Julianna</a>
              <span class="text-foreground/60">8 min ago</span>
            </div>
            <p>Lorem ipsum dolor permiso a lora 🔥🔥🔥🔥</p>
            <img
              src="https://images.unsplash.com/photo-1690029628803-15ff2c883018?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
              alt="Imagen de unsplash de Francesco Ungaro"
              data-author="https://unsplash.com/es/@francesco_ungaro"
              class="w-full h-auto rounded-xl mt-2"
            />
            <div class="flex items-center justify-start gap-1 mt-1">
              <button
                class="inline-flex items-center justify-center h-7 rounded-full px-2 gap-2 bg-foreground/5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="16"
                  viewBox="0 0 18 16"
                  fill="currentColor"
                  class="text-rose-600"
                >
                  <path
                    d="M9.43262 2.28784C10.354 0.890298 12.1751 0.511005 13.6816 0.993896V0.994873C16.4642 1.89075 17.6067 5.27795 16.6816 8.1687L16.6807 8.17163C15.9621 10.4563 14.3364 12.2243 12.6729 13.4304C11.8445 14.031 11.0212 14.4819 10.3232 14.78C9.60129 15.0884 9.0834 15.2039 8.84863 15.2039C8.61199 15.2039 8.0956 15.0902 7.37891 14.7869C6.68537 14.4933 5.86687 14.0485 5.04199 13.4519C3.48985 12.3292 1.96075 10.7047 1.16211 8.59644L1.0127 8.16772C0.115736 5.36626 1.15453 2.10104 3.75 1.08569L4.00586 0.994873C5.48476 0.517629 7.27795 0.928 8.28223 2.31323C8.41712 2.49924 8.63454 2.6074 8.86426 2.60229C9.09389 2.59716 9.30612 2.47954 9.43262 2.28784Z"
                    class="stroke-rose-600"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M12.3298 3.83484C13.4539 3.95033 14.1571 4.84164 14.1152 6.09059"
                    class="stroke-white"
                    stroke="currentColor"
                    stroke-width="1.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
                <span class="font-bold">1</span>
              </button>
              <button
                class="h-7 px-4 font-medium text-xs inline-flex items-center justify-center rounded-full transition-all duration-300 focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
              >
                Repply
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/men/16.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <h2 class="text-sm font-medium">Enrique Juliano</h2>
          <span class="text-foreground/70">Last seen 2 hours ago</span>
        </div>
      </div>
      <button
        aria-label="Menu"
        class="flex flex-none items-center justify-center w-8 h-8 transition-all duration-300 rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5 focus:ring-offset-background focus:ring-offset-2"
      >
        <svg
          data-icon="menu-carbon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="3.75"
            d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
          >
          </path>
        </svg>
      </button>
    </header>
    <section class="w-full flex flex-col gap-2">
      <h2 class="text-base font-semibold">Multiple web Design templates Selection</h2>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor ...</p>
      <div class="flex justify-between items-center mt-2">
        <div class="inline-flex items-center">
          <figure class="-m-1 rounded-full border-2 border-white dark:border-slate-800">
            <img
              class="w-5"
              src="https://cdn.iconscout.com/icon/free/png-256/like-2387659-1991059.png"
            />
          </figure>
          <figure class="-m-1 rounded-full border-2 border-white dark:border-slate-800">
            <img
              class="w-5"
              src="https://cdn.iconscout.com/icon/free/png-256/wow-2387663-1991062.png"
            />
          </figure>
          <span class="text-sm font-bold ml-3 mt-[1px]">171</span>
        </div>
        <span>44 comentarios</span>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/men/46.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <h2 class="text-sm font-medium">Oscar</h2>
          <span class="text-foreground/70">Last seen 2 hours ago</span>
        </div>
      </div>
      <button
        aria-label="Menu"
        class="flex flex-none items-center justify-center w-8 h-8 transition-all duration-300 rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5 focus:ring-offset-background focus:ring-offset-2"
      >
        <svg
          data-icon="menu-carbon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="3.75"
            d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
          >
          </path>
        </svg>
      </button>
    </header>
    <section class="w-full flex flex-col items-start gap-2">
      <h2 class="text-base font-semibold">Multiple web Design templates Selection</h2>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor ...</p>
      <div class="w-full grid grid-cols-2 min-h-40 gap-1 overflow-hidden rounded-xl">
        <img
          src="https://images.unsplash.com/photo-1689832096950-6065a51e8015?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de Francesco Ungaro"
          data-author="https://unsplash.com/es/@francesco_ungaro"
          data-author-name="Francesco Ungaro"
          title="Imagen de unsplash de Francesco Ungaro"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
        <img
          src="https://images.unsplash.com/photo-1689711111078-d1fa30010a7c?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de Francesco Ungaro"
          data-author="https://unsplash.com/es/@francesco_ungaro"
          data-author-name="Francesco Ungaro"
          title="Imagen de unsplash de Francesco Ungaro"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
      </div>
      <div
        class="inline-flex items-center justify-start gap-2 h-8 px-2 rounded-full bg-foreground/5"
      >
        <img
          src="https://cdn.worldvectorlogo.com/logos/facebook-reaction-love.svg"
          alt="like"
          class="w-4 h-4"
        />
        <span class="text-sm font-semibold mt-[1px]">24</span>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-11 h-11 rounded-full"
          src="https://randomuser.me/api/portraits/men/76.jpg"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex-auto">
          <h2 class="text-sm font-medium">Fabian</h2>
          <span class="text-foreground/70">3 min ago</span>
        </div>
      </div>
      <button
        class="flex flex-none items-center justify-center w-8 h-8 transition-colors rounded-full focus:ring-2 focus:ring-foreground hover:bg-foreground/5"
      >
        <svg
          data-icon="menu-carbon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="3.75"
            d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
          >
          </path>
        </svg>
      </button>
    </header>
    <section class="w-full flex flex-col gap-2">
      <h2 class="text-base font-semibold">Multiple web Design templates Selection</h2>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor ...</p>
      <div class="w-full grid grid-cols-2 gap-1 overflow-hidden rounded-xl">
        <img
          src="https://images.unsplash.com/photo-1651247515420-2625b7724546?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de geoff trodd"
          data-author="https://unsplash.com/es/@hotspur1705"
          data-author-name="geoff trodd"
          title="Imagen de unsplash de geoff trodd"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
        <img
          src="https://images.unsplash.com/photo-1619328357422-d1b310844050?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de Tamara Malaniy"
          data-author="https://unsplash.com/es/@tamarushphotos"
          data-author-name="Tamara Malaniy"
          title="Imagen de unsplash de Tamara Malaniy"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
        <img
          src="https://images.unsplash.com/photo-1647020756316-49bcc3d04e17?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de Francesco Ungaro"
          data-author="https://unsplash.com/es/@francesco_ungaro"
          data-author-name="Francesco Ungaro"
          title="Imagen de unsplash de Francesco Ungaro"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
        <img
          src="https://images.unsplash.com/photo-1637308108557-1c559ea122b5?w=768&h=512&auto=format&fit=crop&crop=center&fm=webp&q=90"
          alt="Imagen de unsplash de Oleksandr Sushko"
          data-author="https://unsplash.com/es/@wolfalexs"
          data-author-name="Oleksandr Sushko"
          title="Imagen de unsplash de Oleksandr Sushko"
          class="w-full h-full min-w-0 max-w-full object-cover"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
      </div>
      <div class="inline-flex items-center justify-start gap-2">
        <img
          src="https://cdn.worldvectorlogo.com/logos/facebook-reaction-love.svg"
          alt="like"
          class="w-4 h-4"
        />
        <span class="text-sm font-semibold mt-[1px]">24</span>
      </div>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="relative w-full h-80">
      <img
        src="https://images.pexels.com/photos/3404162/pexels-photo-3404162.png?w=512&h=768"
        alt="Imagen de pexels de T Munive"
        data-author="https://www.pexels.com/es-es/@t-munive-1826021/"
        data-author-name="T Munive"
        title="Imagen de pexels de T Munive"
        class="w-full h-full min-w-0 max-w-full object-cover"
        loading="lazy"
        decoding="async"
        itemprop="image"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute bottom-0 left-0 w-full text-background"
        viewBox="0 0 370 64"
        fill="currentColor"
      >
        <path
          d="M370 48.3703C191.845 -15.3575 111.499 -15.0024 0 48.3703V63.8703H370V48.3703Z"
          fill="currentColor"
        >
        </path>
      </svg>
      <div
        class="flex items-center gap-1 justify-center absolute bottom-5 left-1/2 -translate-x-1/2 z-10"
      >
        <span class="w-2 h-2 rounded-full bg-indigo-600"></span>
        <span class="w-2 h-2 rounded-full bg-foreground/10"></span>
        <span class="w-2 h-2 rounded-full bg-foreground/10"></span>
      </div>
    </header>
    <section
      class="w-full flex flex-col items-center justify-center gap-2 px-4 pb-6 -mt-6 relative z-1"
    >
      <h2 class="font-bold text-xl text-center">Welcome to your <br /> artistic space</h2>
      <p class="text-center text-xs text-foreground/70">
        Artistic and educational platform for content creators and beginning artists
      </p>
      <button
        class="inline-flex text-sm items-center justify-center px-4 h-8 font-medium rounded-full bg-blue-700 text-white hover:bg-blue-800 transition-all duration-300 focus:bg-blue-800"
      >
        Enter now
      </button>
    </section>
  </article>

  <article
    class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-6 gap-4 mb-3 text-xs bg-background border-border text-foreground"
  >
    <header class="w-full flex items-center justify-center text-center">
      <h2 class="font-bold text-xl">
        <span class="text-indigo-500">Tools</span> and <span class="text-rose-500">skills</span>
      </h2>
    </header>
    <div class="w-full relative flex items-center justify-center flex-col">
      <div
        class="absolute bottom-0 right-10 bg-indigo-500 w-20 h-20 rounded-full blur-3xl pointer-events-none z-0 opacity-80"
      >
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 30 53"
        fill="none"
        class="absolute top-4 right-5 w-6 pointer-events-none"
      >
        <path
          d="M28 2.35653C9.16974 0.0939497 19.0096 8.96024 23.7382 18.7631C26.2006 23.8678 14.8458 29.107 12.7039 30.8123C7.98921 34.5661 21.2883 29.2824 20.4896 35.9979C19.3769 45.3545 7.79374 48.0085 2 51"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
        >
        </path>
      </svg>
      <div class="relative w-full max-w-24 h-28">
        <div
          class="inline-flex items-center justify-center px-2 h-6 rounded-full font-semibold text-xs absolute bottom-2 -right-10 bg-white text-indigo-600 shadow-xl"
        >
          Skills +33
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 19 36"
          fill="none"
          class="absolute bottom-0 -left-6 w-4 -rotate-6"
        >
          <path
            d="M2.26721 2.34092C0.838792 7.30902 1.95576 24.0934 11.1855 21.755C19.8505 19.3017 12.3858 6.46073 6.37868 12.2023C-2.72051 20.8993 7.94792 32.2543 16.9859 33.7729"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
          >
          </path>
        </svg>
        <img
          src="https://images.pexels.com/photos/2232981/pexels-photo-2232981.jpeg?w=512&h=768"
          alt="Imagen de pexels de BM Capture"
          data-author="https://www.pexels.com/es-es/@bharatkuiper/"
          data-author-name="BM Capture"
          title="Imagen de pexels de BM Capture"
          class="w-full h-full object-cover rounded-4xl"
          loading="lazy"
          decoding="async"
          itemprop="image"
        />
      </div>
      <div class="relative grid text-center mt-4">
        <h2 class="font-bold text-xl text-center">Darrell Steward</h2>
        <p>Business development</p>
      </div>
    </div>
    <section class="w-full flex flex-col items-center justify-center gap-2">
      <p class="text-center text-xs">
        Minim dolor in amet nulla laboris enim dolore consequat proident fugiat
      </p>
      <button
        class="inline-flex text-sm items-center justify-center px-4 h-8 font-medium rounded-full bg-indigo-700 text-white hover:bg-indigo-800 transition-all duration-300 focus:bg-indigo-800"
      >
        Profile
      </button>
    </section>
  </article>
</Expo>
