---
import Expo from "@/layouts/Expo.astro";
---

<Expo>
  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground">
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-10 h-10 rounded-full"
          src="https://images.unsplash.com/photo-1621921453423-87158be3514c?w=300&h=300&fit=crop"
          alt="Imagen de Unsplash por Amirhossein Khedri"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="gap-2 text-foreground/60">
            <span class="text-sm font-medium text-foreground">Antonio Fernandez</span> &nbsp;has shared a post with the community.
          </div>
        </div>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>

  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground">
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-10 h-10 rounded-full"
          src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=300&w=300"
          alt="Imagen de Pexels por Pixabay"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="gap-2 text-foreground/60">
            <span class="text-sm font-medium text-foreground">Victoria Alan</span> &nbsp;has shared a post with the community.
          </div>
        </div>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>

  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground">
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img class="flex-none w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1542534759-05f6c34a9e63?w=300&h=300&fit=crop" alt="Imagen de Unsplash por febri sym" loading="lazy" />
        <div class="flex-auto">
          <div class="gap-2 text-foreground/60">
            <span class="text-sm font-medium text-foreground">Natalia M. Font</span> &nbsp;has shared a post with the community.
          </div>
        </div>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>

  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden mb-3 text-xs border-border">
    <div class="absolute top-0 left-0 w-full flex items-center justify-between z-1 p-6">
      <button class="w-8 h-8 rounded-full inline-flex items-center justify-center bg-white text-black backdrop-blur-lg" aria-label="Back to home">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="m10 16l-4-4m0 0l4-4m-4 4h12"></path>
        </svg>
      </button>
      <button aria-label="Menu" class="w-8 h-8 rounded-full inline-flex items-center justify-center bg-white text-black backdrop-blur-lg">
        <svg data-icon="menu-carbon" class="rotate-90" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="3.75" d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"></path>
        </svg>
      </button>
    </div>
    <img
      src="https://images.unsplash.com/photo-1579618218290-24a26f63a738?w=600&h=800"
      alt="Imagen de pexels de Museums Victoria"
      data-author="https://unsplash.com/es/@jeztimms"
      class="w-full h-full object-cover min-h-64"
      loading="lazy"
      decoding="async"
    />
    <div class="z-1 -mt-20 w-full py-6 relative rounded-t-2xl bg-background">
      <div class="absolute left-1/2 top-4 -translate-x-1/2 w-10 h-1 rounded cursor-ns-resize bg-foreground/10"></div>
      <header class="w-full flex items-center justify-between gap-4 p-4">
        <div class="flex flex-col items-start">
          <h2 class="text-base font-semibold">Cameron Ramirez</h2>
          <p>Tarragona, España</p>
        </div>
        <button class="inline-flex text-sm items-center justify-center px-4 h-8 font-medium rounded-full bg-indigo-700 text-white hover:bg-indigo-800 transition-all duration-300 focus:bg-indigo-800">
          Profile
        </button>
      </header>
      <section class="w-full px-4">
        <div class="flex items-center justify-start gap-4">
          <div class="flex-none">
            <dt class="sr-only">Users</dt>
            <dd class="flex justify-start -space-x-1.5">
              <a href="#" class="inline-block">
                <img class="w-6 h-6 rounded-full ring-2 ring-background" src="https://randomuser.me/api/portraits/women/46.jpg" alt="avatar" loading="lazy" />
              </a>
              <a href="#" class="inline-block">
                <img class="w-6 h-6 rounded-full ring-2 ring-background" src="https://randomuser.me/api/portraits/men/45.jpg" alt="avatar" loading="lazy" />
              </a>
              <a href="#" class="inline-block">
                <img class="w-6 h-6 rounded-full ring-2 ring-background" src="https://randomuser.me/api/portraits/women/47.jpg" alt="avatar" loading="lazy" />
              </a>
            </dd>
          </div>
          <p class="">3 users have reacted to this post</p>
        </div>
      </section>
    </div>
  </article>
</Expo>
