---
import Expo from "@/layouts/Expo.astro";
---

<Expo>
  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground">
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-10 h-10 rounded-full"
          src="https://images.unsplash.com/photo-1621921453423-87158be3514c?w=300&h=300&fit=crop"
          alt="Imagen de Unsplash por Amirhossein Khedri"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="gap-2 text-foreground/60">
            <span class="text-sm font-medium text-foreground">Antonio Fernandez</span> &nbsp;has shared a post with the community.
          </div>
        </div>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>

  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground">
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img
          class="flex-none w-10 h-10 rounded-full"
          src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=300&w=300"
          alt="Imagen de Pexels por Pixabay"
          loading="lazy"
        />
        <div class="flex-auto">
          <div class="gap-2 text-foreground/60">
            <span class="text-sm font-medium text-foreground">Victoria Alan</span> &nbsp;has shared a post with the community.
          </div>
        </div>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>

  <article class="border flex flex-col items-start break-inside relative rounded-xl overflow-hidden p-4 gap-4 py-4 mb-3 text-xs bg-background border-border text-foreground">
    <header class="w-full flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <img class="flex-none w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1542534759-05f6c34a9e63?w=300&h=300&fit=crop" alt="Imagen de Unsplash por febri sym" loading="lazy" />
        <div class="flex-auto">
          <div class="gap-2 text-foreground/60">
            <span class="text-sm font-medium text-foreground">Natalia M. Font</span> &nbsp;has shared a post with the community.
          </div>
        </div>
      </div>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>
</Expo>
