---
import Presentation from "@/components/Presentation.astro";
import Root from "../layouts/Root.astro";
import WidgetAboutMe from "@/components/WidgetAboutMe.astro";

const base = import.meta.env.BASE_URL.endsWith("/") ? import.meta.env.BASE_URL : `${import.meta.env.BASE_URL}/`;
const urlFor = (path = "") => `${base}${path.replace(/^\//, "")}`;
---

<Root>
  <main class="w-full lg:h-screen lg:overflow-hidden">
    <div class="w-full lg:h-screen mx-auto mt-10 lg:mt-0">
      <div class="grid h-screen lg:grid-cols-2 gap-10 relative">
        <section class="relative flex flex-col lg:items-end justify-center w-full lg:h-screen">
          <div class="flex flex-col items-start justify-center w-full max-w-2xl h-full px-10 pb-10 lg:pb-0">
            <h1 class="inline w-full font-black !leading-tight text-5xl sm:text-5xl md:text-6xl lg:text-6xl xl:text-6xl 3xl:text-7xl">
              <span class="text-rose-500">Social cards</span>
              <br />
              <span class="text-indigo-700">components with</span>
              <br />
              <span class="bg-gradient-to-r from-indigo-700 via-85% via-green-500 to-cyan-500 inline-block text-transparent bg-clip-text">Tailwind CSS</span>
            </h1>

            <div class="mt-6">
              <WidgetAboutMe />
            </div>

            <p class="mt-6 leading-8 text-lg">Componentes modernos, minimalistas y fáciles de personalizar, perfectos para que experimentes y le des vida a tus ideas en la web.</p>
            <p class="mt-2 leading-8 text-lg">¡Explora, combina estilos y crea algo increíble que se vea bien en cualquier dispositivo!</p>

            <div class="flex items-center justify-start gap-2 mt-6" data-astro-source-file="D:/frankuxui/widgets-components-tailwind-v4/src/components/Hero.astro" data-astro-source-loc="23:62">
              <a
                href={urlFor("cards")}
                class="px-6 h-10 rounded-full inline-flex items-center justify-center font-medium text-base border-2 transition-all duration-300 border-transparent bg-foreground text-background hover:bg-foreground/90"
              >
                Cards
              </a>
              <a
                href="https://github.com/frankuxui/social-cards-components-tailwind-v4"
                target="_blank"
                class="px-6 h-10 rounded-full inline-flex items-center justify-center font-medium text-base border-2 transition-all duration-300 border-foreground/20 bg-background text-foreground hover:ring-2 hover:border-transparent"
              >
                Github
              </a>
            </div>
          </div>
          <div
            class="pointer-events-none absolute top-auto left-0 border-y lg:border-y-transparent lg:left-auto lg:top-0 lg:-right-10 lg:w-10 -bottom-10 h-10 w-full lg:bottom-auto lg:border-x border-border lg:h-full bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-foreground)]/5 md:block"
          >
          </div>
        </section>
        <section class="relative w-full h-screen max-w-full overflow-hidden lg:pt-10">
          <div class="relative w-full h-full overflow-hidden">
            <Presentation />
          </div>
        </section>
      </div>
    </div>
  </main>
</Root>
