---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="w-full fixed top-0 left-0 z-40 h-16 bg-background border-b border-border">
  <div class="w-full flex items-center justify-between h-full px-10">
    <span>Cards</span>
    <ThemeToggle />
  </div>
</header>
